 /*Mishail Tuteja*/

body {
    font-family: sans-serif;
    font-size: 14pt;
    margin: 0 auto;
    text-align: center;
    width: 680px;
}

/* formatting for game board table */
table {
    margin: 0 auto;
}

td {
    border: 1px solid blue;
    width: 50px;
    height: 50px;
    font-size: 1.6em;
    font-family: sans-serif;
}

/* these four turn off outer borders */
tr:first-child td {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}

td:first-child {
    border-left: none;
}
td:last-child {
    border-right: none;
}

/* the message box that appears with game results, hidden by default */
#message {
    background-color: #f9ecf2;
    border: 1px solid #660066;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black, -1px -1px 5px white;
    display: none;
    font-weight: bold;
    height: 30%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 50px;
    width: 80%;
    z-index: 200;
}

/* covers the entire page in a semi-transparent grey, hidden by default */
#overlay {
    background-color: rgba(20, 20, 20, 0.4);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}