<!-- main content -->
<header>
   <link rel="stylesheet" type="text/css" href="css/TicTacToeA2.css">
   <h1>Tic Tac Toe!</h1>
</header>

<!-- game board -->
<table>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<!-- play information and controls -->
<p>Player <span id="player">X</span> Go!
  <button id="reset" onclick = "resetGame();">Reset Game</button>
</p>


<!-- footer -->
 <footer>Mishail Tuteja @ Sheridan SYST10199 Web Programming
</footer>

<!-- hidden elements used for displaying results -->
<div id="message">
  <p>GAME OVER!</p>
    <h3 id="winner"></h3>
  <p>&mdash;click anywhere in the box to dismiss this message&mdash;</p>
</div>
<div id="overlay"></div>

<!-- linked javascript -->
<script src = "js/TicTacToeA2.js"></script>